body{
    margin: 0;
    padding: 0;
}
#maindiv{
    /* background-color:yellow ; */
    height: 100vh;
    width: 100%;
}
#navbar1{
    background-color:aquamarine ;
    height: 10%;

    display: flex;
    justify-content: space-between;
}

#logo,#loc,#signin{
    display:flex;
}



